<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-sqlcipher-adapter"
    version="0.5.4">

    <name>Cordova sqlcipher adapter</name>

    <license>MIT</license>

    <keywords>sqlcipher</keywords>

    <description>SQLCipher database adapter for PhoneGap/Cordova, based on Cordova-sqlite-storage. Allows you to use more storage and provides more flexibility than the standard Web SQL database (window.openDatabase).</description>

    <author>Litehelpers/Various</author>

    <!-- THANKS to AllJoyn-Cordova / cordova-plugin-alljoyn: -->
    <!-- [NOT in this version branch]
    <hook type="before_plugin_install" src="scripts/beforePluginInstall.js" />
     -->

    <js-module src="www/SQLitePlugin.js" name="SQLitePlugin">
        <clobbers target="SQLitePlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <!-- Cordova >= 3.0.0 -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SQLitePlugin">
                <param name="android-package" value="io.sqlc.SQLitePlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/io/sqlc/SQLitePlugin.java" target-dir="src/io/sqlc"/>
        <source-file src="src/android/io/sqlc/SQLiteAndroidDatabase.java" target-dir="src/io/sqlc"/>
        <!-- [FUTURE TBD] ref: litehelpers/Cordova-sqlcipher-adapter#40
                               litehelpers/Cordova-sqlcipher-adapter#25
                               sqlcipher/sqlcipher#125
        <source-file src="src/android/io/sqlc/SQLiteConnectorDatabase.java" target-dir="src/io/sqlc"/>

        <source-file src="node_modules/cordova-sqlite-storage-dependencies/libs/sqlite-connector.jar" target-dir="libs"/>
         ...
         -->
        <!-- androidx.sqlite now required -->
        <framework src="androidx.sqlite:sqlite:2.1.0" />

        <!-- [FUTURE TBD] consider using external aar again -->
        <!-- THANKS to @jcesarmobile for GUIDANCE in accepted answer:
             https://stackoverflow.com/questions/34115571/add-external-jar-library-to-build-cordova-plugin-ionic-framework/34129929#34129929
         -->
        <!-- SQLCipher distribution for Android
             [sqlcipher.jar & ndk objects in aar (modified reference for Buildr)] from:
             https://mvnrepository.com/artifact/net.zetetic/android-database-sqlcipher/4.3.0
        <framework src="net.zetetic:android-database-sqlcipher:4.3.0" />
        - -->
    </platform>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SQLitePlugin">
                <param name="ios-package" value="SQLitePlugin" />
            </feature>
        </config-file>

        <header-file src="src/ios/SQLitePlugin.h" />
        <source-file src="src/ios/SQLitePlugin.m" compiler-flags="-DSQLITE_HAS_CODEC" />

        <source-file src="src/ios/CustomPSPDFThreadSafeMutableDictionary.m"
                compiler-flags="-w" />

        <framework src="Security.framework" />
    </platform>

    <!-- macOS (osx) -->
    <platform name="osx">
        <config-file target="config.xml" parent="/*">
            <feature name="SQLitePlugin">
                <param name="osx-package" value="SQLitePlugin" />
            </feature>
        </config-file>

        <!-- Note: the macOS (osx) src is based off src/ios implicitly -->
        <header-file src="src/ios/SQLitePlugin.h" />
        <source-file src="src/ios/SQLitePlugin.m" compiler-flags="-DSQLITE_HAS_CODEC" />
        <!-- FUTURE TBD: more common directory name for Apple macOS/iOS versions -->

        <source-file src="src/ios/CustomPSPDFThreadSafeMutableDictionary.m"
                compiler-flags="-w" />

        <framework src="Security.framework" />
    </platform>

    <!-- XXX Windows platform support DISABLED (not tested, no longer supported in this plugin version) -->
    <platform name="windows-disabled">
        <js-module src="src/windows/sqlite-proxy.js" name="SQLiteProxy">
            <runs />
        </js-module>
    </platform>

</plugin>

<!-- vim: set expandtab : -->
